name: npm-package

on:
  push:
    branches:
      - main
    tags:
      - "aoe2rec-js-v*"
  pull_request:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    if: "startsWith(github.ref, 'refs/tags/')"
    environment: npm
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: 24.x
          registry-url: "https://registry.npmjs.org"

      - name: Upgrade npm
        run: npm i -g npm@latest
      - name: Install
        run: curl https://drager.github.io/wasm-pack/installer/init.sh -sSf | bash
      - run: wasm-pack build crates/aoe2rec-js --release
      - run: wasm-pack publish  crates/aoe2rec-js
